html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
:root {
	--gris: #222831;
}

/*Iconos*/

.fa-whatsapp {
	color: #25d366;
}
.fa-facebook-square {
	color: #3b5998;
}
.fa-envelope {
	color: #db4a39;
}
.fa-instagram {
	color: transparent;
	background: -webkit-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -o-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -webkit-radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
}

/*Esenciales*/

h1 {
	color: #fff;
	font-size: 65px;
}
h2 {
	font-size: 42px;
	font-weight: 300;
	margin-bottom: 32px;
	color: #fff;
}
h3 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 10px;
	font-weight: 400;
	color: #00adb5;
}
h4 {
	color: #00adb5;
	font-size: 5rem;
	margin: 0;
}
h5 {
	color: #00adb5;
	font-size: 2.5rem;
	font-weight: 300;
}
h6 {
	font-size: 3rem;
	color: #00adb5;
	margin: 0;
}

/*Body*/
body {
	font-family: "Poppins";
}
.contenedor {
	max-width: 120rem;
	width: 95%;
	margin: 0 auto;
}
.contenido {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/*Header*/

header {
	width: 100%;
	height: 650px;
	background-image: url(../img/mazo2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	color: #000;
	text-align: center;
}

header .textos {
	margin-top: 60px;
}

header .boton {
	padding: 6px;
	width: 128px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
	border-radius: 16px;
}

.sesgoabajo {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 15vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
@media (min-width: 768px) {
	.sesgoabajo {
		border-width: 0 0 2 5vh 100vw;
	}
}
.navegacion {
	padding: 0 5px;
	margin: 15px 0 0 0;
	display: inline-block;
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 12px;
}
.navegacion a {
	margin-right: 20px;
	font-size: 30px;
	color: var(--gris);
}
.navegacion a:last-child {
	margin: 0;
}

/*Areas*/
.tarjetas {
	display: grid;
}
.tarjeta {
	margin: 2rem 0;
	padding: 2rem;
	justify-content: center;
	text-align: center;
	box-shadow: 0rem 0rem 0.7rem 0 var(--gris);
	border-radius: 1rem;
	transform-style: preserve-3d;
	transition: all 0.8s ease;
}
.tarjeta:hover {
	transform: rotateY(180deg);
}
.thefront {
	backface-visibility: hidden;
	overflow: hidden;
}

.theback {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
	overflow: hidden;
	background-color: #00adb5;
	text-align: center;
	transform: rotateY(180deg);
}

.tarjeta img {
	height: 10rem;
}
.tarjeta p {
	color: #222831;
	font-size: 2.5rem;
	border-color: black;
	border-radius: 0.2rem;
}
.theback p {
	color: #fff;
}
.theback button {
	background: #00adb5;
	border: 0;
	text-transform: uppercase;
	padding: 1em;
}
.slogan {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 24px;
}
@media (min-width: 768px) {
	.tarjetas {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}
}

@media (min-width: 992px) {
	.tarjetas {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}
}
/*Nosotros*/

.nosotros {
	display: grid;
	text-align: center;
}
.nosotros img {
	max-width: 20rem;
}
.persona {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 2rem;
}
.persona p {
	margin: 0 auto;
}
.mision {
	margin: 0 0 1.5rem 0;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #00adb5;
}
.mision p {
	margin: 0 auto;
	font-size: 1.6rem;
	color: #fff;
}
.texto p {
	font-size: 2rem;
}
@media (min-width: 768px) {
	.nosotros {
		grid-template-columns: repeat(2, 1fr);
	}
}
/*Mapa*/
.mapa {
	height: 42rem;
	background-color: green;
}
/* Footer */

footer {
	background: #2c3e50;
	height: auto;
	padding: 2rem;
}

.logo {
	text-align: center;
	font-size: 3rem;
}

.logo span {
	color: #00adb5;
}

.contact-wrapper {
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
	padding: 1em;
}

.contact-form {
	background: #222222;
}

.contact-form form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-form form label {
	display: block;
	color: #00adb5;
}

.contact-form form p {
	margin: 0;
	padding: 1em;
}

.contact-form form .block {
	grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
	width: 100%;
	padding: 0.7em;
	border: none;
	background: none;
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #00adb5;
}

.contact-form form button {
	background: #00adb5;
	border: 0;
	text-transform: uppercase;
	padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
	background: #fff;
	color: #00adb5;
	transition: background-color 1s ease-out;
	outline: 0;
}

/* CONTACT INFO */
.informacion-contacto {
	background: #393e46;
	display: grid;
	text-align: center;
}
.informacion-contacto p {
	margin: 0.2rem auto;
	font-size: 2rem;
	color: #fff;
}

/* LARGE SIZE */
@media (min-width: 700px) {
	body {
		padding: 0 4em;
	}
	.contact-wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	.contact-wrapper > * {
		padding: 2em;
	}
}
